@model Tag
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<div class="container-fluid">
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input class="form-control" asp-for="@Model.Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>

